<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <title>Home</title>
</head>
<body>
    <header>
        <div style="float:right;">
            <span>{{ user.username }}</span> | <a href="{% url 'Logout' %}">Logout</a>
        </div>
        <h1>Welcome to the Job Board</h1>
    </header>

    {% if user_company %}
        <h2>Your Company: {{ user_company.name }}</h2>
        <a href="{% url 'CreateJob' %}">Create a New Job</a>
    {% else %}
        <p>You don't have a company yet. Please create one first.</p>
    {% endif %}

    <h2>Job Listings</h2>
    <table>
        <thead>
            <tr>
                <th>Company</th>
                <th>Title</th>
                <th>Description</th>
                <th>Location</th>
                <!-- <th>Posted On</th> -->
                <th>Salary</th>
                <!-- <th>Tags</th> -->
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for job in page_obj %}
            <tr>
                <td>{{ job.company.name }}</td>
                <td>{{ job.title }}</td>
                <td>{{ job.description }}</td>
                <td>{{ job.location }}</td>
                <!-- <td>{{ job.posted_on }}</td> -->
                <td>{{ job.salary }}</td>
                <!-- <td>{{ job.tags }}</td> -->
                <td>
                    {% if job.company.name == user_company.name %}
                        <a href="{% url 'UpdateJob' job.id %}">Update</a> |
                        <a href="{% url 'DeleteJob' job.id %}">Delete</a>
                    {% else %}
                        <span>You can't update or delete</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </tbody>
    </table>
</body>
</html>
